body {font-family: Helvetica; font-size: 20px; text-align: center;}
.header {background-image: url(../images/the-flatiron-building.png);}
.newyork {background-image: url(../images/the-flatiron-building.png);}
